// app global css in SCSS form
:root {
  --animate-duration: 0.4s !important;
}

.in-motion {
  transition: all 0.3s ease-in-out;
}

.q-field__control-container .q-field__native {
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    -webkit-animation-fill-mode: unset;
    transition: background-color 10000s ease-in-out 100000s !important;
  }
}
